@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-blue: #2d77bd;
  --main-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--main-white);
}

span {
  color: var(--main-blue);
}

.container {
  width: 100vw;
}

.content-container {
  width: 90vw;
  margin: 0 auto;
}

/* Header */
header {
  position: fixed;

  padding-top: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-weight: 600;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  position: relative;
  margin-left: 2rem;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;

  transition: 0.2s;
}

nav ul li a::before {
  position: absolute;
  bottom: 0;

  content: '';
  width: 0;
  height: 2px;

  background-color: var(--main-blue);
  transition: 0.5s;
}

nav ul li a:hover::before {
  width: 100%;
}

/* Home */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(imgs/background.jpg);
  background-size: cover;
}

#home h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

#home p {
  text-align: center;
  line-height: 25px;

  padding-bottom: 1.625rem;
}

#home button {
  outline: none;
  background: none;
  cursor: pointer;

  padding: 0.5rem 4rem;

  text-transform: uppercase;
  font-weight: 500;

  border: 2px solid var(--main-blue);

  transition: 0.5s;
}

#home button:hover {
  background-color: var(--main-blue);
}
